@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    --outline:1px dotted yellow;
}
a{
    text-decoration:none; 
}
a:hover{
    text-decoration: none;
}
.FrontMessage{
    color:#753335;
    font-size:5.4rem;
    background: #000;
    border-radius:0.5rem;
    width:40rem;
    text-align:center;
    box-shadow: 10px 10px 30px black;
    margin-top:12rem;
}
.main1{
    gap:12rem;
    display:flex;
    flex-direction: column;
    background-size: cover;
    flex-grow:10;
    height:100dvh;
    align-items: center;
}
.main2{
    gap:5rem;
    display:flex;
    flex-direction: column;
    background-size: cover;
    flex-grow:10;
    height:100dvh;
    align-items: center;
    margin-bottom: 1rem;
}
body{
    height:100dvh;
    display:flex;
    flex-direction:column;
    font-family: 'Boopee Regular', sans-serif;
    font-size:1.5rem;
    background-color: #753335;
}
.scroll{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%;
    background-image:url(sflogo.jpg);
    background-size: cover;
    background-position:center;
    padding-bottom: 1rem;

}
header{
    display:flex;
    height:7rem;
    background:#753335;
    border-bottom: 1px solid rgba(54, 23, 23, 0.2);
    align-items:center;
    justify-content:space-between;
    position:relative;
    font-size:2rem;
    padding:0 2rem;
    box-shadow: 0px 10px 40px black;
}
footer{
    z-index:100;
    background: #000000;
    height:35px;
    color:#753335;
    align-items:center;
    justify-content: center;
    display:flex;
    border-top: 1px solid rgba(54, 23, 23, 0.2);
    height:3rem;
    font-size:1.5rem;
}
@font-face{
  font-family: "Boopee Regular";
  src: url(Boopee\ Regular.woff2);
}
.title{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    font-size:3rem;
}
.rightlinks a{
    color:black;
}
.rightlinks a:hover{
    color:#4c2123;
}
.rightlinks{
    gap:1.2rem;
    display:flex;
}
.leftlink button{
    width:fit-content;
    height:2rem;
    font-size:1.8rem;
    padding:0.3rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
.leftlink{
    display:flex;
    flex-direction:row;
    gap:1rem;
    width:300px;
}
button:hover{
    background: #4c2123;
    border:none;
}
.logout{
    background: black;
    color:#753335;
    border:none;
    width:4rem;
    height:2rem;
    font-size:1.8rem;
    font-family: 'Boopee Regular', sans-serif;
    border-radius:0.4rem;
    justify-content: center;
    display:flex;
    align-items:center;
}
.logout a{
    color:#753335;
}
.logout:hover{
    background: #4c2123;
}
.close-btn{
    width:1.2rem !important;
    height:2rem;
    font-size:1.5rem;
}
#message{
    display:flex;
    flex-direction: row;
    font-size:1.3rem;
    width:200px;
}
#login{
    border:none;
}
dialog{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border:none;
    background: #0003;
    backdrop-filter: blur(5px);
    padding:calc((100dvh / 2) - 100px) calc((100% / 2) - 125px);
    overflow:hidden;
}
dialog form{
    width:250px;
    height:200px;
    background: #753335;
    border-radius:0.5rem;
    padding: .5rem 2rem 2rem 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.3rem;
}
.closeLogin{
    margin-left:200px;
    width:2rem;
    height:2rem;
    font-size:1.8rem;
    position:fixed;
    margin-bottom:125px;
}
nav{
    background: #000000;
    height:3.6rem;
    display:flex;
    align-items:center;
}
nav a{
    color:#753335;
    margin-left:0.5rem;
}
nav a:hover{
    color:#a35153;
}
button{
    background: black;
    color:#753335;
    border:none;
    font-family: 'Boopee Regular', sans-serif;
    border-radius:0.4rem;
}
.loginbutton{
    width:3.5rem;
    height:2rem;
    font-size:1.8rem;
}
.info{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
}
.p1{
    width:40rem;
    text-align:center;
    background: #000;
    color:#753335;
    border-radius:1rem;
}
.p2{
    width:33rem;
    text-align:center;
    background: #000;
    color:#753335;
    border-radius:1rem;
}
.product{
    width:18rem;
    height:18rem;
    border-radius:0.5rem;
}
.productbg1{
    width:100%;
    height:100%;
    background-image: url(merch.webp);
    background-size: cover;
    border-radius:10px 10px 0px 0px;
}
.productbg2{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.productbg3{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.productbg4{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.productbg5{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.productbg6{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.productbg7{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.productbg8{
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
    background-image:url(merch.webp);
}
.price{
    background: #ffffff;
    border-radius:0px 0px 10px 10px;
}
.price p{
    margin-left:0.5rem;
}
.productname{
    background: #ffffff;
}
.productname p{
    margin-left:0.5rem;
}
.products{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    gap:1rem;
}
.welcome{
    background: #000;
    color:#753335;
    border-radius:1rem;
    width:28rem;
    align-content:center;
    display:flex;
    justify-content:center;
}
.box{
    display:flex;
    flex-direction:row;
    gap:3rem;
}
.box div:first-child{
    background: #000;
    color:#753335;
    border-radius:1rem;
    margin-bottom:2rem;
    width:30rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1rem;
    height:fit-content;
}
.box div:last-child{
    background: #000;
    color:#753335;
    border-radius:1rem;
    margin-bottom:2rem;
    width:30rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    --justify-content:center;
    padding:1rem;
    height:fit-content;
}
.PostForm{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:1rem;
    background: #000;
    color:white;
    border-radius:0.5rem;
}
.PostForm input, .PostForm textarea{
    color:black;
}
.PostFormContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    background: #ffffff;
    margin-top:4rem;
    border-radius:0.5rem;
}
.forum_posts{
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:100%;
    align-items:center;
    height:fit-content;
    
}
.post{
    background: #000000;
    border-radius:0.5rem;
    width:20rem;
    color:white;
    display:flex;
    flex-direction:column;
    padding:0.5rem;
}
.post:last-child{
    margin-bottom:1rem;
}
.post:first-child{
    margin-top:1rem;
}
.post h2, p, small, img{
    margin-left:0.5rem;
}
.post img{
    border-radius:0.5rem;
}
.scrollForum{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%;
    background:#753335;
}
.username{
    font-size:1.1rem;
}
.post div{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
}
.deleteButton{
    color:white;
}
.deleteButton:hover{
    color:#a8a8a8;
}
.ExistingUserSummary{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background: #000;
    color:white;
    border-radius:0.5rem;
    width:20rem;
}
.RequestedUserSummary{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background: #000;
    color:white;
    border-radius:0.5rem;
    width:20rem;
}
details{
    display:flex;
    flex-direction:column;
    margin-top:1rem;
    background: #000;
    color:white;
    border-radius:0.5rem;
    padding:0.4rem;
    font-size:1.4rem;
}
.main3{
    display:flex;
    flex-direction: row;
    flex-grow:10;
    height:100dvh;
    padding:2rem;
    justify-content:center;
    gap:8rem;
}
.ExistingUsers, .RequestedUsers{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.ExistingUsers h1, .RequestedUsers h1{
    font-size:2.5rem;
    display:flex;
    justify-content:center;
}
.LastRow{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.buttons a{
    color:white;
}
.buttons a:hover{
    color:#a8a8a8;
}
.reg{
    background: black;
    color:#753335;
    border:none;
    --width:5rem;
    height:2rem;
    font-size:1.8rem;
    font-family: 'Boopee Regular', sans-serif;
    border-radius:0.4rem;
    justify-content: center;
    display:flex;
    width:fit-content;
    padding:0.3rem;
    align-items:center;
}
.reg a{
    color:#753335;
}
.reg:hover{
    background: #4c2123;
}
.success{
    background: #000;
    color:#753335;
    margin-top:2rem;
    border-radius:0.5rem;
    width:25rem;
    text-align:center;
}
.successinfo{
    background: #000;
    color:#753335;
    border-radius:0.5rem;
    width:50rem;
    text-align:center;
    font-size:1.6rem;
}
.registerform{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:1rem;
    background: #000;
    border-radius:0.5rem;
    color:#ffffff;
    margin-top:4rem;
}
.closeLogin{
    margin-left:200px;
    width:2rem;
    height:2rem;
    font-size:1.8rem;
    position:fixed;
    margin-bottom:125px;
}
.spacer{
    height:0.5rem;
    font-size:0.1rem;
    width:1rem;
    color:#753335;
}
@media screen and (min-height: 1180px){
    dialog form{
        width:280px;
        height:230px;
    }
    .closeLogin{
        margin-left:230px;
        margin-bottom:155px;
    }
    dialog form label{
        font-size:2rem;
    }
    dialog form input{
        font-size:1.1rem;
    }
    .registerform{
        width:25rem;
        height:25rem;
        font-size:2rem;
    }
    .registerform input{
        font-size:1.4rem;
    }
}
@media screen and (max-width: 1030px){
    .product{
        width:13rem;
        height:13rem;
    }
    .main3{
        gap:6rem;
    }
    .ExistingUserSummary, .RequestedUserSummary{
        width:23rem;
        font-size:2rem;
    }
    .RequestedUsers h1, .ExistingUsers h1{
        font-size:3rem;
    }
    .RequestedUsers details div, .ExistingUsers details div{
        font-size:2rem;
    }
    .box div:first-child, .box div:last-child{
        width:25rem;
    }
    .rightlinks{
        gap:0.5rem;
    }
    header{
        padding:0.5rem;
    }
    .title{
        font-size:2.4rem;
    }
}
@media screen and (max-width: 860px){
    .leftlink button{
        width:3rem;
        font-size:1.6rem;
    }
    .rightlinks a{
        font-size:1.6rem;
    }
    .reg{
        font-size:1.6rem;
    }
    .box div:first-child, .box div:last-child{
        width:22rem;
    }
    .product{
        width:11rem;
        height:11rem;
    }
    .main3{
        gap:3rem;
    }
    .ExistingUserSummary, .RequestedUserSummary{
        width:19rem;
        font-size:1.9rem;
    }
    .RequestedUsers h1, .ExistingUsers h1{
        font-size:2.5rem;
    }
    .RequestedUsers details div, .ExistingUsers details div{
        font-size:1.8rem;
    }
    .title{
        font-size:2rem;
    }
    .rightlinks{
        gap:0.4rem;
    }
    header{
        padding:0.5rem;
    }
}
@media screen and (max-width: 545px){
    .box div:first-child, .box div:last-child{
        width:14rem;
    }
    .box{
        gap:2rem;
    }
    .p1{
        width:31rem;
    }
    .p2{
        width:28rem;
    }
    .FrontMessage{
        width:31rem;
        font-size:4rem;
    }
    .title{
        font-size:1.8rem;
    }
    .leftlink button{
        width:2.5rem;
        font-size:1.3rem;
    }
    .reg{
        font-size:1.3rem;
    }
    header{
        padding:1rem;
    }
    .rightlinks{
        gap:0.4rem;
    }
    .rightlinks a{
        font-size:1.5rem;
    }
    .products{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:5rem;
    }
    .main3{
        gap:2rem;
    }
    .ExistingUserSummary, .RequestedUserSummary{
        width:14rem;
        font-size:1.8rem;
    }
    .RequestedUsers h1, .ExistingUsers h1{
        font-size:2rem;
    }
    .RequestedUsers details div, .ExistingUsers details div{
        font-size:1.2rem;
    }
    .title{
        font-size:1.4rem;
    }
    .rightlinks{
        gap:0.4rem;
    }
    .rightlinks a{
        font-size:1.1rem;
    }
    header{
        padding:0.4rem;
    }
}
@media screen and (max-width: 430px){
    .box div:first-child, .box div:last-child{
        width:22rem;
    }
    .box{
        flex-direction:column;
        gap:0.8rem;
    }
    .p1{
        width:22rem;
    }
    .p2{
        width:21rem;
    }
    .welcome{
        width:22rem;
        font-size:2.6rem;
    }
    .FrontMessage{
        width:22rem;
        font-size:3rem;
    }
    .title{
        font-size:1.3rem;
    }
    .leftlink button{
        font-size:0.9rem;
        width:1.8rem;
    }
    .leftlink{
        gap:0.5rem;
    }
    .reg{
        font-size:1.1rem;
        width:3rem;
    }
    header{
        padding:0.5rem;
    }
    .rightlinks{
        gap:0.2rem;
    }
    .rightlinks a{
        font-size:1rem;
    }
    .products{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:5rem;
    }
    .success{
        width:20rem;
        font-size:2.5rem;
    }
    .successinfo{
        width:14rem;
    }
    .main3{
        gap:1rem;
    }
    .ExistingUserSummary, .RequestedUserSummary{
        width:10rem;
        font-size:1.2rem;
    }
    .RequestedUsers h1, .ExistingUsers h1{
        font-size:2rem;
    }
    .RequestedUsers details div, .ExistingUsers details div{
        font-size:1.1rem;
    }
    footer{
        font-size:1.2rem;
    }
    .rightlinks a{
        font-size:0.8rem;
    }
    .title{
        font-size:1.2rem;
    }
    .logout{
        width:3rem;
        font-size:1.1rem;
    }
}
@media screen and (max-width: 360px){
    .main3{
        gap:1rem;
    }
    .ExistingUserSummary, .RequestedUserSummary{
        width:9rem;
        font-size:1.2rem;
    }
    .RequestedUsers h1, .ExistingUsers h1{
        font-size:1.8rem;
    }
    .RequestedUsers details div, .ExistingUsers details div{
        font-size:1rem;
    }
    footer{
        font-size:1.2rem;
    }
    .FrontMessage{
        width:20rem;
        font-size:2.8rem;
    }
    .welcome{
        width:20rem;
        font-size:2.3rem;
    }
    .p1{
        width:20rem;
    }
    .p2{
        width:19rem;
    }
    .box div:first-child, .box div:last-child{
        width:20rem;
    }
}